.l-nav-container {
  grid-row: 1;
  grid-column: 1;
  @include mq(sp) {
    grid-column: 1 / span 2;
  }
}

.l-nav {
  position: sticky;
  top: 20px;
  width: 80%;
  padding: $contentTop 0 100px 20px;
  margin: 20px auto;
  border-radius: $radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  @include mq(sp) {
    position: relative;
    padding-bottom: 50px;
  }
}

.l-nav__title {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 2rem;
}

.l-nav__list {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.l-nav__item {
  margin-left: 20px;
}

.l-nav__item-link {
  color: $mainColor;
  text-decoration: none;
}